extends layout

block content
    h1 New Book
    .form-container
        form(action="/books/new", method="post")
            include form
            p
                a(class="cancel-btn", href="/books") Cancel
