if(author)
    block content
            form.search-form
                .search-container
                    p
                        .author-search
                            input(class="search-bar", type="text", placeholder="Search by author...")
                            a(class="search-home", href="/") HOME                            
        
    