if(book)
    block content
        form.search-form
            .search-container
                p
                    .book-search
                        input(class="search-bar", type="text", placeholder="Search by book...")
                        a(class="search-home", href="/") HOME                            
            