if(element)
    block content
        form.search-form
            .search-container
                p
                    div(class=`${element}-search`)
                        input(class="search-bar", type="text", placeholder=`Search...`)
            