if(genre)
    block content
        
            form.search-form
                .search-container
                    p
                        .genre-search
                            input(class="search-bar", type="text", placeholder="Search by genre...")
                            a(class="search-home", href="/") HOME                            
    